@import "layout"

$background: whitesmoke

body
  margin: 0
  font-size: 12pt
  /*line-height: 1pt;*/
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: Garamond
  .background
    background-color: $background

  .item
    width: 100%

    .place
      font-size: 1.1rem
      font-weight: bold
    .details
      font-size: 1rem
      line-height: 1.2rem
      //color: #26a0f4
      color: lighten(black, 40%)
      font-weight: bold
      .name
        text-transform: capitalize
      .location
        font-style: italic
      .time
        font-style: italic
      //  text-align: right
      //  float: right
    .separator
      margin: 0 0.4rem

    .description
      white-space: pre-line

      .item-list
        padding: 0 0 0 1rem
        margin: 0

.separator
  margin: 0 0.4rem

.flex
  display: flex


