body
  margin: 0

.page
  position: relative
  width: 210mm
  height: 297mm
  overflow: hidden
  border-radius: 2mm
  box-sizing: border-box
  display: flex
  //background: whitesmoke
  p
    margin: 0

@media only screen and (max-width: 297mm)
  html
    zoom: 45%