
$default-font-color: black !default

body
  margin: 0

.page
  position: relative
  font-size: calc(var(--c-resume-builder-font-size) * 1pt)
  width: 210mm
  height: 297mm
  overflow: hidden
  border-radius: 2mm
  box-sizing: border-box
  display: flex
  padding-top: calc(var(--c-resume-builder-margin-top) * 1in)
  padding-bottom: calc(var(--c-resume-builder-margin-bottom) * 1in)
  padding-right: calc(var(--c-resume-builder-margin-right) * 1in)
  padding-left: calc(var(--c-resume-builder-margin-left) * 1in)
  p
    margin: 0

html
  color: $default-font-color

@for $i from 2 through 4
  .grid-#{$i}
    display: grid
    width: 100%
    gap: 1em
    grid-template-columns: repeat(#{$i}, 1fr)

@media only screen and (max-width: 297mm)
  html
    zoom: 45%